/* Media Queries */

    /* Desktop */
        @media only screen and (min-width: 960px) {
            #tablet_bar {
                display: none;
            }
        }
        
    /* Tablet (portrait) */
        @media only screen and (max-width: 959px) {
            #desktop_bar {
                display: none;
            }
        }
    
    /* Tablet (landscape)
    
    /* Phone (portrait) */
    
    /* Phone (landscape)

/* Load Google Webfonts */
    @import url('http://fonts.googleapis.com/css?family=Nothing+You+Could+Do');
    @import url('http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
  
    @font-face {
        font-family: 'MuliLight';
        src: url('../fonts/Muli-Light-webfont.eot');
        src: url('../fonts/Muli-Light-webfont.eot?#iefix') format('embedded-opentype'),
            url('../fonts/Muli-Light-webfont.woff') format('woff'),
            url('../fonts/Muli-Light-webfont.ttf') format('truetype'),
            url('../fonts/Muli-Light-webfont.svg#MuliLight') format('svg');
        font-weight: normal;
        font-style: normal;
    }
	
    @font-face {
        font-family: 'MuliLightItalic';
        src: url('../fonts/Muli-LightItalic-webfont.eot');
        src: url('../fonts/Muli-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
            url('../fonts/Muli-LightItalic-webfont.woff') format('woff'),
            url('../fonts/Muli-LightItalic-webfont.ttf') format('truetype'),
            url('../fonts/Muli-LightItalic-webfont.svg#MuliLightItalic') format('svg');
        font-weight: normal;
        font-style: normal;
    }
	
    @font-face {
        font-family: 'MuliRegular';
        src: url('../fonts/Muli-Regular-webfont.eot');
        src: url('../fonts/Muli-Regular-webfont.eot?#iefix') format('embedded-opentype'),
            url('../fonts/Muli-Regular-webfont.woff') format('woff'),
            url('../fonts/Muli-Regular-webfont.ttf') format('truetype'),
            url('../fonts/Muli-Regular-webfont.svg#MuliRegular') format('svg');
        font-weight: normal;
        font-style: normal;
    }
	
    @font-face {
        font-family: 'MuliItalic';
        src: url('../fonts/Muli-Italic-webfont.eot');
        src: url('../fonts/Muli-Italic-webfont.eot?#iefix') format('embedded-opentype'),
            url('../fonts/Muli-Italic-webfont.woff') format('woff'),
            url('../fonts/Muli-Italic-webfont.ttf') format('truetype'),
            url('../fonts/Muli-Italic-webfont.svg#MuliItalic') format('svg');
        font-weight: normal;
        font-style: normal;
    }
      
    
/* Base */
    html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, abbr, address, cite, code, del, dfn, em, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
        margin:0;
        padding:0;
        border:0;
        outline:0;
        font-size:100%;
        vertical-align:baseline;
        background:transparent;
    }
    
    html {
        font-size: 100%;
        overflow-y: scroll;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    }
    
    html.blog {
        margin-top: auto;
    }
    
    body {
        line-height:1.431;
        font-size: 13px;
        background-color: #ffffff;
    }
    
    body, button, input, select, textarea {
        font-family: 'MuliRegular', 'san-serif'; color: #222;
    }
    
    ::-moz-selection {
        background: #a2b3c8;
        color: #fff;
        text-shadow: none;
    }
    
    ::selection {
        background: #a2b3c8;
        color: #fff;
        text-shadow: none;
    }

    li::-moz-selection, li a::-moz-selection {
        background: none;
    }
    
    article,aside,details,figcaption,figure, footer,header,hgroup,menu,nav,section {
        display:block;
    }
    
    a {
        margin:0;
        padding:0;
        font-size:100%;
        vertical-align:baseline;
        background:transparent;
        color: #00e;
        }
    
    a:visited {
        color: #551a8b;
    }
    
    a:focus {
        outline: none;
    }
    
    a:hover, a:active {
        outline: 0;
        color: #b14947;
    }
    
    table {
        border-collapse:collapse;
        border-spacing:0;
        }
    
    input, select {
        vertical-align:middle;
        }
 
        
/* Typography */
    ins {
        background-color: #ff9;
        color: #000;
        text-decoration: none;
    }

    mark {
        background-color: #ff0;
        color: #000;
        font-style: italic;
        font-weight: bold;
    }
    
    del {
        text-decoration: line-through;
    }
    abbr[title], dfn[title] {
        border-bottom: 1px dotted;
        cursor: help;
    }
    
    dfn {
        font-style: italic;
    }
    
    hr {
        display: block;
        height: 1px;
        border: 1px solid #000;
        border-bottom: 1px solid #666;
        margin: 24px 0;
        padding: 0;
        clear: both;
        width: 100%;
    }
    
    pre, code, kbd, samp {
        font-family: monospace, monospace;
        _font-family: 'courier new', monospace;
        font-size: 1em;
    }
    
    pre {
        white-space: pre;
        white-space: pre-wrap;
        word-wrap: break-word;
    }

    small {
        font-size: 85%;
    }
    
    blockquote, q {
        quotes:none;
        margin: 1em 40px;
    }
        
    blockquote:before, blockquote:after, q:before, q:after {
        content:'';
        content:none;
    }
    
    sub, sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
    }
    
    sup {
        top: -0.5em;
    }
    
    sub {
        bottom: -0.25em;
    }
    
    
/* Lists */
    ul, ol {
        margin: 1em 0;
        padding: 0 0 0 40px;
    }
    
    dd {
        margin: 0 0 0 40px;
    }
    
    nav ul, nav ol {
        list-style: none;
        list-style-image: none;
        margin: 0;
        padding: 0;
    }

    
/* Embedded content */
    img {
        border: 0;
        -ms-interpolation-mode: bicubic;
        vertical-align: middle;
    }
    
    svg:not(:root) {
        overflow: hidden;
    }
    

/* Start */
    #calendar-overlay {
	display: none;
	background-color: black;
	cursor: wait;
	opacity: 0.50;
	-moz-opacity: 0.50;
	filter:alpha(opacity=50);
	height: 1696px;
	width: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 1001;
    }
    
    #top_fixed {
	position: absolute;
	top: 0;
	height: 30px;
	width: 100%;
	background: url('../images/header_tab_shade.png') repeat-x;
	z-index: 120;
	font-size: 11px;
	text-align: center;
	padding-top: 17px;
																							min-width: 1044px;
    }
    
    #top_nav_left {
	display: inline;
	margin-right: 588px;
    }

    #top_nav_right {
	display: inline;
    }
    
    #top_nav_right:hover {
        color: #b14947;
        cursor: pointer;
    }
    
    header#main_header {
        width: 100%;
        position: absolute;
        margin: -144px auto 0 auto;
        height: 267px;
        background: url('../images/header_back.png') repeat-x;
        z-index: 100;
    }
    
    div#drop_nav {
	position: relative;
	width: 1024px;
	margin: 0 auto;
	height: 267px;
	background: url('../images/header_tab.png') no-repeat;
	padding: 16px 8px 0 8px;
    }

    #header_mark {
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
 	display: block;
	height: 41px;
	width: 657px;
	position: absolute;
	left: -339px;
	bottom: 92px;
	background: url('../images/watermark.png') no-repeat;
    }

    .ie7 #header_mark, .ie8 #header_mark {
	display: none;
    }

    #top_info, #top_hours {
        display: none;
    }
    
    #top_info h3 {
        margin: 0;
    }
    
    #top_info p {
        margin: 6px 0 0 0;
        line-height: 16px;
        position: relative;
        z-index: 110;
    }
    
    #top_info {
        float: left;
        width: 320px;
    }
    
    #top_map {
	float: right;
	opacity: 0;
    }

    .ie7 #top_map, .ie8 #top_map {
	display: none;
    }

    #map_canvas {
	width: 300px;
	height: 140px;
	border: 1px solid #888;
	background: url('../images/staticmap.gif') no-repeat 
    }

    .mapLink {
	margin: 6px 0 0 0;
	font-size: 11px;
	text-align: center;
    }
    
    #top_hours {
        padding-top: 40px;
        margin-left: 350px;
        width: 330px;
    }
    
    #top_hours p {
        margin-top: 0;
    }
    
    #top_hours p span {
        float: right;
    }
    
    .ie7 #top_hours p {
        position: relative;
    }
    
    .ie7 #top_hours p span {
        float: none;
        position: absolute;
        right: 0;
    }
    
    #tab_click a {
	width: 220px;
	height: 80px;
	position: absolute;
	bottom: 26px;
	left: 400px;
    }
    
    a.closeHeader {
	background: url('../images/x.png') no-repeat;
	width: 25px;
	height: 29px;
	display: none;
	z-index: 3200;
	position: absolute;
	bottom: 74px;
	left: 1020px;
	cursor: pointer;
    }